@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* menu */

.menu {
    margin-top: 30px;
    width: 100%;
}

.menu-item {
    margin: 10px 0;
    padding-left: 10px;
    font-size: 15px;
}

/* 본문 2행 2열 */
.student-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    height: fit-content;
    text-decoration: none;
    
}

.card h2 {
    color: #6a0000;
    font-size: 18px;
    margin-bottom: 10px;
}

.simple-table {
    width: 100%;
    border-collapse: collapse;
    
}

.simple-table td {
    padding: 6px;
    font-size: 14px;
    text-decoration-line: none;
    border-bottom: 1px solid #eee;
}

.haksa-list {
    list-style: none;
    padding: 0;
    font-size: 14px;
}

.haksa-list li {
    margin-bottom: 5px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-weight: bold;
}

.calendar-legend {
    font-size: 12px;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.red { background: red; }
.green { background: green; }
.blue { background: blue; }
